extends ../layout


block content
    h1 Edit Item
    form(action="/products/edit/"+product._id, method="post")
        div(class="form-group")
            lable(for="name") Item Name
            input(type="text" ,class="form-control" ,id="name" ,name="name" ,value= product.name)
        div(class="form-group")
            lable(for="price") Price of Item
            input(type="text" ,class="form-control" ,id="price" ,name="price" ,value= product.price)
        div(class="form-group")
            lable(for="detail") More Details (if any)
            input(type="text" ,class="form-control" ,id="detail" ,name="detail" ,value= product.detail)
        div(class="form-group")
            lable(for="cheesy") cheesy
            input(type="text" ,class="form-control" ,id="cheesy" ,name="cheesy" ,value= product.cheesy)
        div(class="form-group")
            lable(for="Quanity") Quanity
            input(type="text" ,class="form-control" ,id="Quanity" ,name="Quanity" ,value= product.Quanity)

        input(type="submit" ,class="btn btn-primary")
    